.learnMoreContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.fontBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
}