.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 70px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-bottom: 2px solid #003d3b;
  color: white;
  padding: 15px 0;
}

.logo {
  max-height: 80px;
  width: auto;
  object-fit: contain;
}



.logoButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
