body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 70px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  background-color: #003d3b;
  margin-top: auto;
}

.logo {
  max-height: 36px;
  width: auto;
  object-fit: contain;
  margin-right: 10px;
}